In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [6]:
path = "Resources/SGO-2021-01_Incident_Reports_ADS.csv"

In [7]:
crash_data = pd.read_csv(path)

In [11]:
crash_data["Make"].unique()

array(['Navya', 'Jaguar', 'Mercedes-Benz', 'Toyota', 'Lexus', 'Peterbilt',
       'Ford', 'Polestar', 'Cruise', 'Ligier', 'Kenworth', 'Chrysler',
       'Kenworth Motor Truck Co', 'LExus', 'Ligier Group', 'Freightliner',
       'FREIGHTLINER', 'Lucid', 'International', 'Hyundai', nan,
       'INTERNATIONAL', 'Jeep', 'EQS', 'Chevrolet', 'EZ10', 'Nissan',
       'NAVYA', 'Local Motors', 'OLLI', 'Lincoln'], dtype=object)

In [12]:
crash_data["Model"].unique()

array(['ARMA', 'I-Pace', 'S450', 'Highlander', 'Sienna', 'RX450H',
       'RX450h', '579', 'Escape', '579 Epiq', 'Polestar 2', 'AV',
       'EZ10 Gen 3', 'T680', 'Pacifica', 'Cascadia', 'CASCADIA', 'Dream',
       'RX 450h', 'Fusion', 'LT625', 'Ioniq 5', 'S350D', 'Kona EV', nan,
       'I-PACE', 'LT 625', 'LT', 'Grand Cherokee', 'EQS 450 4Matic',
       '450 4matic', 'Bolt', 'GEN2', 'Leaf SL', 'Kona/EV', 'Arma ',
       'Olli 1.0', '1', 'Olli', 'MKZ'], dtype=object)

In [13]:
crash_data["Model Year"].unique()

array([2018., 2021., 2016., 2020., 2022., 2019., 2017.,   nan])

In [17]:
clean_crash = crash_data.loc[:, ["Make", "Model","Model Year","Driver / Operator Type", "Incident Date", 
                                      "Incident Time (24:00)","City", "State", "Roadway Type", "Roadway Surface", 
                                     "Roadway Description", "Crash With", "Highest Injury Severity", "CP Any Air Bags Deployed?"]]
clean_crash.head()

,Make,Model,Model Year,Driver / Operator Type,Incident Date,Incident Time (24:00),City,State,Roadway Type,Roadway Surface,Roadway Description,Crash With,Highest Injury Severity,CP Any Air Bags Deployed?
0,Navya,ARMA,2018.0,In-Vehicle (Commercial / Test),Dec-22,17:53,Port Saint Lucie,FL,Street,Dry,No Unusual Conditions,Passenger Car,No Injuries Reported,No
1,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
2,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown
3,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
4,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown

In [25]:
clean_crash["Make"].unique()

array(['Navya', 'Jaguar', 'Mercedes-Benz', 'Toyota', 'Lexus', 'Peterbilt',
       'Ford', 'Polestar', 'Cruise', 'Ligier', 'Kenworth', 'Chrysler',
       'Kenworth Motor Truck Co', 'LExus', 'Ligier Group', 'Freightliner',
       'FREIGHTLINER', 'Lucid', 'International', 'Hyundai', nan,
       'INTERNATIONAL', 'Jeep', 'EQS', 'Chevrolet', 'EZ10', 'Nissan',
       'NAVYA', 'Local Motors', 'OLLI', 'Lincoln'], dtype=object)