In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [9]:
path1 = "Resources/SGO-2021-01_Incident_Reports_ADS.csv"
path2 = "Resources/SGO-2021-01_Incident_Reports_ADAS2.csv"
path3 =

In [10]:
crash_data = pd.read_csv(path1)
crash_data.head()

,Report ID,Report Version,Reporting Entity,Report Type,Report Month,Report Year,Report Submission Date,VIN,VIN - Unknown,Serial Number,...,Investigating Officer Name,Inv. Officer Name - Unknown,Investigating Officer Phone,Inv. Officer Phone - Unknown,Investigating Officer Email,Inv. Officer Email - Unknown,Within ODD?,Within ODD? - CBI,Narrative,Narrative - CBI?
0,30490-4473,1,"Beep, Inc.",Monthly,12.0,2022.0,Dec-22,1N9A1SAC6JS,,NaN,...,[MAY CONTAIN PERSONALLY IDENTIFIABLE INFORMATION],,NaN,Y,NaN,Y,Yes,,"On December [XXX], 2022, a Navya ARMA shuttle...",NaN
1,30531-4492,2,Transdev Alternative Services,Monthly Update,11.0,2022.0,Dec-22,SADHW2S16M1,,NaN,...,NaN,,NaN,,NaN,,Yes,,Corrected the latitude and longitude. Nothing ...,
2,30531-4494,1,Transdev Alternative Services,Monthly,11.0,2022.0,Dec-22,SADHW2S19M1,,NaN,...,NaN,,NaN,,NaN,,Yes,,"On November [XXX], 2022 at 9:34 AM PST a Waymo...",
3,30531-4492,1,Transdev Alternative Services,Monthly,11.0,2022.0,Dec-22,SADHW2S16M1,,NaN,...,NaN,,NaN,,NaN,,Yes,,"On November [XXX], 2022 at 4:30 PM PST a Waymo...",
4,30270-4485,1,Waymo LLC,Monthly,11.0,2022.0,Dec-22,SADHW2S19M1,,NaN,...,NaN,,NaN,,NaN,,Yes,,"On November [XXX], 2022 at 9:34 AM PST a Waymo...",

In [11]:
tesla_data = pd.read_csv(path2)
tesla_data.head()

,Report ID,Report Version,Reporting Entity,Report Type,Report Month,Report Year,Report Submission Date,VIN,VIN - Unknown,Serial Number,...,Investigating Officer Name,Inv. Officer Name - Unknown,Investigating Officer Phone,Inv. Officer Phone - Unknown,Investigating Officer Email,Inv. Officer Email - Unknown,Within ODD?,Within ODD? - CBI,Narrative,Narrative - CBI?
0,13781-4354,2,"Tesla, Inc.",10-Day Update,NaN,NaN,Dec-22,5YJYGDEE7LF,,NaN,...,NaN,Y,NaN,Y,NaN,Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y
1,13781-4353,2,"Tesla, Inc.",10-Day Update,NaN,NaN,Dec-22,5YJ3E1EB8KF,,NaN,...,NaN,Y,NaN,Y,NaN,Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y
2,540-4483,1,"General Motors, LLC",1-Day,NaN,NaN,Dec-22,1G6KG5RS1JU,,NaN,...,NaN,Y,NaN,Y,NaN,Y,Yes,,"The subject vehicle, a 2018 Cadillac CT6, was ...",
3,13781-4479,1,"Tesla, Inc.",1-Day,NaN,NaN,Dec-22,5YJXCBE2XJF,,NaN,...,NaN,Y,NaN,Y,NaN,Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y,"[REDACTED, MAY CONTAIN CONFIDENTIAL BUSINESS I...",Y
4,1306-4287,3,Toyota Motor Engineering & Manufacturing,Monthly Update,11.0,2022.0,Dec-22,JTJHGKFA1N2,,NaN,...,NaN,Y,NaN,Y,NaN,Y,"Unknown, see Narrative",,The entries in this report are based on unconf...,

In [12]:
clean_crash1 = crash_data.loc[:, ["Make", "Model","Model Year","Driver / Operator Type", "Incident Date", 
                                      "Incident Time (24:00)","City", "State", "Roadway Type", "Roadway Surface", 
                                     "Roadway Description", "Crash With", "Highest Injury Severity", "CP Any Air Bags Deployed?"]]
clean_crash1.head()

,Make,Model,Model Year,Driver / Operator Type,Incident Date,Incident Time (24:00),City,State,Roadway Type,Roadway Surface,Roadway Description,Crash With,Highest Injury Severity,CP Any Air Bags Deployed?
0,Navya,ARMA,2018.0,In-Vehicle (Commercial / Test),Dec-22,17:53,Port Saint Lucie,FL,Street,Dry,No Unusual Conditions,Passenger Car,No Injuries Reported,No
1,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
2,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown
3,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
4,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown

In [13]:
clean_crash2 = tesla_data.loc[:, ["Make", "Model","Model Year","Driver / Operator Type", "Incident Date", 
                                      "Incident Time (24:00)","City", "State", "Roadway Type", "Roadway Surface", 
                                     "Roadway Description", "Crash With", "Highest Injury Severity", "CP Any Air Bags Deployed?"]]
clean_crash2.head()

,Make,Model,Model Year,Driver / Operator Type,Incident Date,Incident Time (24:00),City,State,Roadway Type,Roadway Surface,Roadway Description,Crash With,Highest Injury Severity,CP Any Air Bags Deployed?
0,Tesla,Model Y,2020.0,Consumer,Dec-22,5:31,Mercer Island,WA,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,Tesla,Model 3,2019.0,Consumer,Dec-22,9:00,Tacoma,WA,Highway / Freeway,Unknown,Unknown,Other Fixed Object,Unknown,NaN
2,Cadillac,CT6,2018.0,Consumer,Dec-22,16:27,Millersville,MA,Highway / Freeway,Dry,No Unusual Conditions,SUV,No Injuries Reported,Unknown
3,Tesla,Model X,2018.0,Consumer,Dec-22,18:00,Inglewood,CA,Highway / Freeway,Unknown,Unknown,Unknown,Unknown,Unknown
4,Lexus,RX450hL,2022.0,Consumer,Nov-22,3:28,McDonald,NC,Highway / Freeway,Unknown,Unknown,Other Fixed Object,Unknown,NaN

In [24]:
merge_df = pd.concat([clean_crash1, clean_crash2], axis=0)
merge_df

,Make,Model,Model Year,Driver / Operator Type,Incident Date,Incident Time (24:00),City,State,Roadway Type,Roadway Surface,Roadway Description,Crash With,Highest Injury Severity,CP Any Air Bags Deployed?
0,Navya,ARMA,2018.0,In-Vehicle (Commercial / Test),Dec-22,17:53,Port Saint Lucie,FL,Street,Dry,No Unusual Conditions,Passenger Car,No Injuries Reported,No
1,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
2,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown
3,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,16:30,San Francisco,CA,Street,Dry,No Unusual Conditions,SUV,No Injuries Reported,No
4,Jaguar,I-Pace,2021.0,In-Vehicle (Commercial / Test),Nov-22,9:34,San Francisco,CA,Intersection,Wet,No Unusual Conditions,Passenger Car,No Injuries Reported,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489,Tesla,Model Y,2021.0,Consumer,Jul-21,4:09,NaN,NY,Unknown,Unknown,Unknown,Non-Motorist: Pedestrian,Fatality,Unknown
1490,Tesla,Model Y,2020.0,Consumer,Jun-21,1:28,Santa Cruz,CA,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1491,Tesla,Model 3,2020.0,Consumer,Jul-21,0:35,San Antonio,TX,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1492,Tesla,Model 3,2021.0,Consumer,Jul-21,8:17,Mountain View,CA,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1493,BMW,X5 xDrive40i,2019.0,Consumer,Jul-21,0:00,St. Petersburg,FL,Highway / Freeway,Unknown,Unknown,"Other, see Narrative",Minor,Not Applicable